body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

/*********************************************
    			Call Bootstrap
*********************************************/

@import url("../vendor/bootstrap/css/bootstrap.css");

/*********************************************
        		Theme Elements
*********************************************/

.gold{
  color: #FFBF00;
}

.col-md-3 {
  max-width: 100%;
}

/*********************************************
					PRODUCTS
*********************************************/
.product{
  /*border: 1px solid #dddddd;*/
}

.product>img{
  /*height: 400px;*/
  /*width: 500px;*/
}

.product-rating{
  font-size: 20px;
  margin-bottom: 25px;
}

.product-title{
  font-size: 20px;
}

.product-desc{
  font-size: 14px;
}

.product-price{
  font-size: 22px;
}

.product-stock{
  color: #74DF00;
  font-size: 20px;
  margin-top: 30px;
}

.product-info{
  margin-top: 50px;
}

/*********************************************
					VIEW
*********************************************/

.view-wrapper {
  float: right;
  max-width: 70%;
  margin-top: 25px;
}

/*********************************************
				ITEM
*********************************************/

.service1-items {
  padding: 0px 0 0px 0;
  float: left;
  position: relative;
  overflow: hidden;
  max-width: 100%;
  height: 321px;
  width: 130px;
}

.service1-item {
  height: 107px;
  width: 120px;
  display: block;
  float: left;
  position: relative;
  padding-right: 20px;
  border-right: 1px solid #DDD;
  border-top: 1px solid #DDD;
  border-bottom: 1px solid #DDD;
}

.service1-item > img {
  max-height: 110px;
  max-width: 110px;
  opacity: 0.6;
  transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
}

.service1-item > img:hover {
  cursor: pointer;
  opacity: 1;
}

.service-image-left {
  /*padding-top: 100px;*/
}

.service-image-right {
  padding-left: 50px;
}

.service-image-left > center > img,.service-image-right > center > img{
  max-height: 155px;
}

.attr {cursor:pointer;margin-right:5px;height:20px;font-size:10px;padding:2px;border:1px solid gray;border-radius:2px;}
.attr.active { border:1px solid orange;}


#shopping-cart-icon {
  margin-top: 2px;
  margin-left: 20px;
}

.blackiconcolor {
  color: dodgerblue;
}